{% extends 'CcmSrbBundle::layout.html.twig' %}
{% block menu %} {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }} {% endblock %}

{% block title %} An Error Occurred: {{ status_text }} {% endblock %}

{% set option = 'Privilegios insuficientes' %}


{% block col3 %}
<br>
<h1>No tienes permiso para editar esta publicación "{{ status_code }} {{ status_text }}".</h1><br>


<div>
Sólo el usuario que ha creado esta referencia puede editar la información de la misma
</div>

{% endblock %}

{% block menuL %}
	<ul>
    	  <li> <a href="{{ path('search') }}">  Búsqueda </a> </li> 
	</ul>
	<ul class="record_actions">
	  <li> <a href="{{ path('refs') }}"> Regresar </a> </li>
	</ul>
{% endblock %}
