{# src/Ccm/SrbBundle/Resources/views/Search/query.html.twig #}
{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %} {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }} {% endblock %}

{% set option =  'Búsqueda'  %}

{% block col3 %}

	<h1>Búsqueda</h1><br><br>
	<div class="ym-grid">  		

	<form action="{{ path('busqueda') }}" method="post" {{ form_enctype(form) }}>

	  {{ form_errors(form) }}

	  <div class="ym-g80 ym-gl">
	    <div> {{ form_label(form.Type) }} </div>
	    <div> {{ form_errors(form.Type) }} </div>
	    <div style="padding:5px;">  {{ form_widget(form.Type, { 'attr': {'size': '30'} }) }} </div>
	  </div>

	  <div class="ym-g80 ym-gl">
	    <div> {{ form_label(form.Author) }} </div>
	    <div> {{ form_errors(form.Author) }} </div>
	    <div style="padding:5px;"> {{ form_widget(form.Author, { 'attr': {'size': '30'} }) }} </div>
	  </div>

	  <div class="ym-g25 ym-gl">
	    <div> {{ form_label(form.yearStart) }} </div>
	    <div> {{ form_errors(form.yearStart) }} </div>
	    <div style="padding:5px;"> {{ form_widget(form.yearStart) }} </div>
	  </div>

	  <div class="ym-g25 ym-gl">	
	    <div> {{ form_label(form.yearEnd) }} </div>
	    <div> {{ form_errors(form.yearEnd) }} </div>
	    <div style="padding:5px;">  {{ form_widget(form.yearEnd) }} </div>
	 </div>

	  <div class="ym-g80 ym-gl">	
	    <div style="padding:5px;"> {{ form_rest(form) }}</div>
	  </div>
	  <div class="ym-g80 ym-gl">	
    	    <button type="submit" class="ym-button ym-search" /> Buscar</button>
	  </div>
	</form>
       </div>
{% endblock %}

{% block menuL %}


	<ul class="record_actions">
    	  <li> <a href="{{ path('refs') }}"> Regresar  </a>  </li>
  	</ul>
{% endblock %}

