{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %} {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }} {% endblock %}

{% set option = 'Referencias del Author' %}

{% block col3 %}
<h1>Referencias de {{ name }}</h1><br><br>

{% for item in publications %}

    <div style="float:left;">
{{ item.id }}.- <b><a href="{{ path('referencia_show', { 'id': item.id }) }}">
{{ item.title|title }}</a></b>,
    </div>
    <div style="font-size: 85%; color: #6B6B6B; float:left;">  {{ item.type|title }}</div><br>
{{ item.journal }}, {{ item.yearPub }}, {{ item.pages }}<br>
{% for key in item.author|explode %}<a href="{{key}}"> {{key|trim }}</a>;  {% endfor %}<br><br>
{% endfor %}

{% endblock %}