{% block col3 %}
    <br>
    {% block fos_user_content %}
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">


            <div> {{ form_label(form.current, 'Contraseña Actual') }} </div>
            <div> {{ form_widget(form.current, { 'attr': {'style': 'width:45%', 'placeholder':'Current Password'} }) }} </div>
            <div> {{ form_errors(form.current) }} </div> <br>

            <div> {{ form_label(form.new, 'Nueva Contraseña') }} </div>
            <div> {{ form_widget(form.new.first, { 'attr': {'style': 'width:45%', 'placeholder':'New Password'} }) }} </div><br>
            <div> {{ form_widget(form.new.second, { 'attr': {'style': 'width:45%', 'placeholder':'Confirm Password'} }) }} </div>
            <div> {{ form_errors(form.new) }} </div> <br>


            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'Cambiar contraseña'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    {% endblock %}
{% endblock %}