{% extends 'CcmSrbBundle::layout.html.twig' %}
{% block menu %}
{{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }}
{% endblock %}

{% set option =  'Iniciar sesi칩n'  %}

{% block col3 %}
<div class="ym-gbox-right">
  <div class="ym-grid">


    <!-- 2 col margen a la derecha -->
    <div style="margin-left: 160px;"><br />

        <div style="margin-top: 10px;">
            <H1>Login</H1>
        </div>
        <br>

{% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
{{ message|trans({}, 'FOSUserBundle') }}
        </div>
{% endfor %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
Sesi칩n iniciada como: <b>{{ app.user.username }}</b>
<br><br>
<a href="{{ path('fos_user_security_logout') }}">Cerrar sesi칩n</a>

{% else %}
                <!--<a href="{{ path('fos_user_security_login') }}">{{ 'Login'|trans({}, 'FOSUserBundle') }}</a>-->

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <div style="padding:5px 0;">
                    <b>Usuario</b><br>
                    <input type="text" id="username" name="_username" style="width: 40%" /><br>
                    </div>

                    <div style="padding:5px 0;">
                    <b>Contrase침a</b><br>
                    <input type="password" id="password" name="_password" style="width: 40%" /><br>
                    </div>

                    <div style="padding:5px 0;">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="off" />
                    <label for="remember_me">Recordarme</label><br><br>
                    </div>

                    {% if error %}
                       <div style="color: red;">{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}
                    <button type="submit" class="ym-button ym-next">Login</button>
                </form>

{% endif %}
        </div>
        <!-- 2 col margen a la derecha -->
  </div>
  <!-- grid -->
</div>
<!-- gbox -->
{% endblock %}

