{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %}
{{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }}
{% endblock %}
{% set option =  'Importar desde ArXiv'  %}
	
{% block col3 %}
<h1>Importación de referencias de Arxiv</h1>
<br>

	<form action="{{ path('arxiv_post') }}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
	    <button type="submit" class="ym-button ym-upload" />Importar referencia</button>
	</form>
{% endblock %}

{% block menuL %}

<ul>
    <li>
        <a href="{{ path('busqueda') }}">
           Búsqueda
        </a>
    </li>
</ul>
	<ul class="record_actions">
    	<li><a href="{{ path('refs') }}"> Regresar </a></li>
	</ul>
{% endblock %}

