{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %} {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }} {% endblock %}

{% set option = 'Asociación de autores' %}

{% block col3 %}

<h1>Asociación de Autores</h1>
<br>
<form action="{{ path('article_authors', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>

<div class="ym-grid">
<div class="ym-gbox"><b>Publicación:</b> {{ entity.type }} </div>
<div class="ym-gbox"><b>Título:</b> {{ entity.title }} </div>
<div class="ym-gbox"><b>Autores:</b> {{ entity.author }} </div>
</div>

<br>

<div>
<b>{{ form_label(form.authors) }}:</b><br><br>
{{ form_errors(form.authors) }}
{{ form_widget(form.authors, { 'attr': {'size': '10', 'style':'width: 20em'} }) }}
</div>

<p>
      {{ form_rest(form) }}
        <button class="ym-button ym-save" type="submit">Guardar</button>
    </p>
</form>

{% endblock %}

{% block menuL %}
{% if (is_granted('ROLE_ADMIN', entity)) or (is_granted('EDIT', entity))  %}
    <ul class="record_actions">
          <li> <a href="{{ path('referencia_show', { 'id': entity.id }) }}"> Regresar </a> </li>
     <ul>
{% endif %}

{% endblock %}

