{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %} {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }} {% endblock %}

{% set option = 'Edición de publicación' %}

{% block col3 %}
<div class="ym-grid">
  <div class="ym-gbox"><br />

    <h1>Edición</h1> <br>

    <form action="{{ path('referencia_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>

        {% if form_errors(edit_form) %}
        <div style="color: red;">
            {{ form_errors(edit_form) }}
        </div><br>
        {% endif %}

        {% if edit_form.type is defined  %}
            <div> {{ form_label(edit_form.type) }} </div>
            <div> {{ form_widget(edit_form.type, { 'attr': {'width': '20'} }) }}	</div>
            <div> {{ form_errors(edit_form.type) }} </div> 

            {% if entity.type == 'preprint'  %}
              <div class="box info" style="width: 90%;">
                Para cambiar el tipo de Unpublished a cualquier otro, primero cambiar el tipo y dar clic en el botón de guardar, una vez cambiado el tipo ya no podrá cambiarse de nuevo.
              </div>
            {% endif %}

        {% endif %}

        <br />

        {% if edit_form.title is defined  %}
            <div> {{ form_label(edit_form.title) }} </div>
            <div> {{ form_widget(edit_form.title, { 'attr': {'style': 'width: 95%','rows':'1'} }) }}  </div>
            <div> {{ form_errors(edit_form.title) }}    </div> <br>
        {% endif %}

        {% if edit_form.author is defined  %}
            <div> {{ form_label(edit_form.author) }} </div>
            <div> {{ form_widget(edit_form.author, { 'attr': {'style': 'width:95%'} }) }} </div>
            <div> {{ form_errors(edit_form.author) }} </div> <br>
        {% endif %}

        {% if edit_form.bookTitle is defined  %}
            <div> {{ form_label(edit_form.bookTitle) }} </div>
            <div> {{ form_widget(edit_form.bookTitle, { 'attr': {'style': 'width: 95%','rows':'1'} }) }}  </div>
            <div> {{ form_errors(edit_form.bookTitle) }} </div> <br>
        {% endif %}

        {% if edit_form.editor is defined  %}
            <div> {{ form_label(edit_form.editor) }} </div>
            <div> {{ form_widget(edit_form.editor, { 'attr': {'style': 'width:95%'} }) }}</div>
            <div> {{ form_errors(edit_form.editor) }} </div> <br>
        {% endif %}

        {% if edit_form.abst is defined  %}
            <div> {{ form_label(edit_form.abst) }} </div>
            <div> {{ form_widget(edit_form.abst, { 'attr': {'style': 'width:95%','rows':'7'} }) }} </div>
            <div> {{ form_errors(edit_form.abst) }} </div> <br>
        {% endif %}

    <div class="ym-grid">
        {% if edit_form.keywords is defined  %}
         <div class="ym-g75 ym-gl">
            <div> {{ form_label(edit_form.keywords) }} </div>
            <div> {{ form_widget(edit_form.keywords, { 'attr': {'style': 'width:93%','rows':'1'} }) }}  </div>
            <div> {{ form_errors(edit_form.keywords) }} </div> <br>
         </div>
        {% endif %}

       {% if edit_form.msc is defined  %}
        <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.msc) }} </div>
            <div> {{ form_widget(edit_form.msc, { 'attr': {'style': 'width:80%','rows':'1'} }) }}  </div>
            <div> {{ form_errors(edit_form.msc) }} </div> <br>
        </div>
       {% endif %}
   </div>

      <div class="ym-grid">
       {% if edit_form.journal is defined  %}
          <div class="ym-g75 ym-gl">
            <div> {{ form_label(edit_form.journal) }} </div>
            <div> {{ form_widget(edit_form.journal, { 'attr': {'style': 'width:93%'} }) }}</div>
            <div> {{ form_errors(edit_form.journal) }} </div> <br>
          </div>
       {% endif %}

       {% if edit_form.issn is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.issn) }} </div>
            <div> {{ form_widget(edit_form.issn, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.issn) }} </div> <br>
          </div>
        {% endif %}

       {% if edit_form.publisher is defined  %}
          <div class="ym-g80 ym-gl">
            <div> {{ form_label(edit_form.publisher) }} </div>
            <div> {{ form_widget(edit_form.publisher, { 'attr': {'style': 'width:87%'} }) }} </div>
            <div> {{ form_errors(edit_form.publisher) }} </div>	<br>
          </div>
       {% endif %}

       {% if edit_form.address is defined  %}
          <div class="ym-g80 ym-gl">
            <div> {{ form_label(edit_form.address) }} </div>
            <div> {{ form_widget(edit_form.address, { 'attr': {'style': 'width:87%'} }) }} </div>
            <div> {{ form_errors(edit_form.address) }} </div> <br>
          </div>
       {% endif %}
   </div>

    <div class="ym-grid">

        {% if edit_form.yearPub is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.yearPub) }} </div>
            <div> {{ form_widget(edit_form.yearPub, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.yearPub) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.yearPreprint is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.yearPreprint) }} </div>
            <div> {{ form_widget(edit_form.yearPreprint, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.yearPreprint) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.volume is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.volume) }} </div>
            <div> {{ form_widget(edit_form.volume, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.volume) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.issue is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.issue) }} </div>
            <div> {{ form_widget(edit_form.issue, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.issue) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.pages is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.pages) }} </div>
            <div> {{ form_widget(edit_form.pages, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.pages) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.publication is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.publication) }} </div>
            <div> {{ form_widget(edit_form.publication, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.publication) }} </div> <br>
          </div>
        {% endif %}


        {% if edit_form.placePub is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.placePub) }} </div>
            <div> {{ form_widget(edit_form.placePub, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.placePub) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.isbn is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.isbn) }} </div>
            <div> {{ form_widget(edit_form.isbn, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.isbn) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.conference is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.conference) }} </div>
            <div> {{ form_widget(edit_form.conference, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.conference) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.corporateAuthor is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.corporateAuthor) }} </div>
            <div> {{ form_widget(edit_form.corporateAuthor, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.corporateAuthor) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.thesis is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.thesis) }} </div>
            <div> {{ form_widget(edit_form.thesis, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.thesis) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.reportNumber is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.reportNumber) }} </div>
            <div> {{ form_widget(edit_form.reportNumber, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.reportNumber) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.zmath is defined  %}
        <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.zmath) }} </div>
            <div> {{ form_widget(edit_form.zmath, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.zmath) }} </div> <br>
        </div>
        {% endif %}

        {% if edit_form.mrNumber is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.mrNumber) }} </div>
            <div> {{ form_widget(edit_form.mrNumber, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.mrNumber) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.medium is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.medium) }} </div>
            <div> {{ form_widget(edit_form.medium) }} </div>
            <div> {{ form_errors(edit_form.medium) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.area is defined  %}
          <div class="ym-g25 ym-gl">
            <div> {{ form_label(edit_form.area) }} </div>
            <div> {{ form_widget(edit_form.area) }} </div>
            <div> {{ form_errors(edit_form.area) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.file is defined  %}
          <div class="ym-g33 ym-gl">
            <div> {{ form_label(edit_form.file) }} </div>
            <div> {{ form_widget(edit_form.file) }} </div>
            <div> {{ form_errors(edit_form.file) }} </div> <br>
            </div>
        {% endif %}

    </div>
    <!-- grid interno -->
    <div class="ym-grid">
       {% if edit_form.arxiv is defined  %}
          <div class="ym-g50 ym-gl">
            <div> {{ form_label(edit_form.arxiv) }} </div>
            <div> {{ form_widget(edit_form.arxiv, { 'attr': {'style': 'width:90%'} }) }} </div>
            <div> {{ form_errors(edit_form.arxiv) }}</div> <br>
          </div>
        {% endif %}

       {% if edit_form.doi is defined  %}
          <div class="ym-g50 ym-gl">
            <div> {{ form_label(edit_form.doi) }} </div>
            <div> {{ form_widget(edit_form.doi, { 'attr': {'style': 'width: 90%'} }) }} </div>
            <div> {{ form_errors(edit_form.doi) }} </div> <br>
          </div>
        {% endif %}

       {% if edit_form.mathscinet is defined  %}
          <div class="ym-g33 ym-gl">
            <div> {{ form_label(edit_form.mathscinet) }} </div>
            <div> {{ form_widget(edit_form.mathscinet, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.mathscinet) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.inspires is defined  %}
          <div class="ym-g33 ym-gl">
            <div> {{ form_label(edit_form.inspires) }} </div>
            <div> {{ form_widget(edit_form.inspires, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(edit_form.inspires) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.notas is defined  %}
          <div class="ym-g75 ym-gl">
            <div> {{ form_label(edit_form.notas) }} </div>
            <div> {{ form_widget(edit_form.notas, { 'attr': {'style': 'width:93%','rows':'2'} }) }} </div>
            <div> {{ form_errors(edit_form.notas) }} </div> <br>
          </div>
        {% endif %}

        {% if edit_form.url is defined  %}
          <div class="ym-g75 ym-gl">
            <div> {{ form_label(edit_form.url) }} </div>
            <div> {{ form_widget(edit_form.url, { 'attr': {'style': 'width: 93%'} }) }} </div>
            <div> {{ form_errors(edit_form.url) }} </div> <br>
          </div>
        {% endif %}

         {% if edit_form.revision is defined  %}
             <div class="ym-g33 ym-gl">
                {% if is_granted("ROLE_ADMIN") %}
                    <div>Revisado</div>
                    <div> {{ form_widget(edit_form.revision)}} </div>
                {% else %}
                    <div>Revisado (solo como administrador)</div>
                    <div> {{ form_widget(edit_form.revision, { 'attr': { 'disabled': 'disabled' } })}} </div>
                {% endif %}
                <div> {{ form_errors(edit_form.revision) }} </div> <br>
             </div>
        {% endif %}

        {{ form_rest(edit_form) }}

        <div class="ym-g80 ym-gl">
            <div>{{ form_errors(edit_form) }}</div>
        </div>

        <br>
        <div class="ym-g80 ym-gl">
            <button type="submit" class="ym-button ym-save">Guardar</button>
        </div>
 
</div>
</form>

<!-- <div class="ym-g80 ym-gl">
    <form action="{{ path('referencia_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit" class="ym-button ym-delete">Eliminar</button>
    </form>
</div> -->
 
</div>

<br />
{% endblock %}

{% block menuL %}


    <ul>
        <li> <a href='javascript:history.back(1)'> Regresar </a> </li>

    </ul>
{% endblock %}
