{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %} {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }} {% endblock %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% set option = 'Nueva publicación' %}
{% else %}
    {% set option = 'Ingresar al sistema' %}
{% endif %}

{% block col3 %}
<div class="ym-grid">
  <div class="ym-gbox"><br />

 <h1>Referencias Bibliográficas del CCM</h1><br /><br />

   {% for item in pager.getResults %}

      {% include 'CcmSrbBundle:Search:referenceDetails.html.twig' %}

  {% endfor %}

  {% if pager.isPaginable %}
        {{ paginate(pager, 'refs' ) }}
  {% endif %}

  </div>
</div>
{% endblock %}


{% block menuL %}
    <ul>
        <li> <a href="{{ path('referencia_new', { 'type': 'article' } ) }}"> Artículo </a> </li>
        <li> <a href="{{ path('referencia_new', { 'type': 'incollection' } ) }}"> Capítulo de Libro </a> </li>
        <li> <a href="{{ path('referencia_new', { 'type': 'proceedings' } ) }}"> Editor de Memorias de Congreso </a> </li>
        <li> <a href="{{ path('referencia_new', { 'type': 'book' } ) }}"> Libro </a> </li>
        <li> <a href="{{ path('referencia_new', { 'type': 'inproceedings' } ) }}"> Memoria de Congreso </a> </li>
        <li> <a href="{{ path('referencia_new', { 'type': 'preprint' } ) }}"> Preprint </a> </li>
        <li> <a href="{{ path('referencia_new', { 'type': 'thesis' } ) }}"> Tesis </a> </li>

    </ul>
{% endblock %}


{% block menuL1 %}
{% if is_granted('ROLE_ADMIN') %}
    <h6 class="ym-vlist">Importar</h6>
    <ul>
        <li> <a href="{{ path('upload') }}"> Desde Archivo </a> </li>
        <li> <a href="{{ path('arxiv') }}"> Desde Arxiv </a> </li>
    </ul>
{% endif %}
{% endblock %}

