{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %} {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }} {% endblock %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	{% set option = 'Nueva publicación' %}
{% else %}
	{% set option = 'Publicaciones' %}
{% endif %}


{% block col3 %}
 <h1>Referencias Bibliográficas del CCM</h1><br><br>

   {% for item in pager.getResults %}

	<div style="float:left;">
	 {{ item.id }}.- <b><a href="{{ path('referencia_show', { 'id': item.id }) }}">
	 {{ item.title|title }}</a></b>,
	</div>
	<div style="font-size: 85%; color: #6B6B6B; float:left;">  {{ item.type|title }}</div><br>
	 {{ item.journal }}, {{ item.yearPub }}, {{ item.pages }}<br>
	  {% for key in item.author|explode %}<a href="{{key}}"> {{key|trim}}</a> ; {% endfor %}<br><br>
   {% endfor %}

  {% if pager.isPaginable %}
	{{ paginate(pager, 'refs' ) }}
  {% endif %}
{% endblock %}


{% block menuL %}
	<ul>
	    <li> <a href="{{ path('referencia_new', { 'type': 'article' } ) }}"> Artículo </a> </li>
	</ul>
	<ul>
    	    <li> <a href="{{ path('referencia_new', { 'type': 'inbook' } ) }}"> Capítulo de Libro </a> </li>
	</ul>
	<ul>
    	    <li> <a href="{{ path('referencia_new', { 'type': 'edicion' } ) }}"> Edicion de Libro </a> </li>
	</ul>
	<ul>
    	    <li> <a href="{{ path('referencia_new', { 'type': 'proceedings' } ) }}"> Editor de Memorias de Congreso </a> </li>
	</ul>
	<ul>
    	    <li> <a href="{{ path('referencia_new', { 'type': 'book' } ) }}"> Libro </a> </li>
	</ul>
	<ul>
    	    <li> <a href="{{ path('referencia_new', { 'type': 'inproceedings' } ) }}"> Memoria de Congreso </a> </li>
        </ul>
	<ul>
            <li> <a href="{{ path('referencia_new', { 'type': 'unpublished' } ) }}"> Preprint </a> </li>
	</ul>
	<ul>
    	    <li> <a href="{{ path('upload') }}"> Desde Archivo </a> </li>
        </ul>
	<ul>
    	    <li> <a href="{{ path('arxiv') }}"> Desde Arxiv </a> </li>
        </ul>

	<ul>
    	    <li> <a href="{{ path('busqueda') }}"> Búsqueda </a> </li>
	</ul>

{% endblock %}
