{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %} {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }} {% endblock %}

{% set option =  'Nuevo ' ~ type  %}

{% block col3 %}
    <div class="ym-grid">
    <div class="ym-gbox"><br />

    <h1>Nuevo {{ type|title }}</h1><br />Campos con (*) son requeridos.<br><br>

    <form action="{{ path('referencia_create', { 'type':  type  } )}}" method="post" {{ form_enctype(form) }}>

    {% if form_errors(form) %}
        <div style="color: red;">
            {{ form_errors(form) }}
        </div><br>
    {% endif %}

    {% if form.type is defined  %}
        <div> {{ form_label(form.type) }} </div>
        <div> {{ form_widget(form.type) }} </div>
        <div> {{ form_errors(form.type) }} </div> <br>
    {% endif %}

    {% if form.title is defined  %}
        <div> {{ form_label(form.title) }} </div>
        <div> {{ form_widget(form.title, { 'attr': {'style': 'width: 95%','rows':'1'} }) }}  </div>
        <div> {{ form_errors(form.title) }} </div> <br>
    {% endif %}

    {% if form.author is defined  %}
        <div> {{ form_label(form.author) }} </div>
        <div> {{ form_widget(form.author, { 'attr': {'style': 'width:95%'} }) }} </div>
        <div> {{ form_errors(form.author) }} </div>	<br>
    {% endif %}

    {% if form.advisor is defined  %}
        <div> {{ form_label(form.advisor) }} </div>
        <div> {{ form_widget(form.advisor, { 'attr': {'style': 'width:95%'} }) }} </div>
        <div> {{ form_errors(form.advisor) }} </div> <br>
    {% endif %}

    {% if form.school is defined  %}
        <div> {{ form_label(form.school) }} </div>
        <div> {{ form_widget(form.school, { 'attr': {'style': 'width:95%'} }) }} </div>
        <div> {{ form_errors(form.school) }} </div> <br>
    {% endif %}

    {% if form.bookTitle is defined  %}
        <div> {{ form_label(form.bookTitle) }} </div>
        <div> {{ form_widget(form.bookTitle, { 'attr': {'style': 'width: 95%','rows':'1'} }) }}  </div>
        <div> {{ form_errors(form.bookTitle) }} </div> <br>
    {% endif %}

    {% if form.editor is defined  %}
        <div> {{ form_label(form.editor) }} </div>
        <div> {{ form_widget(form.editor, { 'attr': {'style': 'width:95%'} }) }}</div>
        <div> {{ form_errors(form.editor) }} </div>	<br>
    {% endif %}

    {% if form.abst is defined  %}
        <div> {{ form_label(form.abst) }} </div>
        <div> {{ form_widget(form.abst, { 'attr': {'style': 'width:95%','rows':'7'} }) }} </div>
        <div> {{ form_errors(form.abst) }} </div> <br>
    {% endif %}

    <div class="ym-grid">
        {% if form.keywords is defined  %}
            <div class="ym-g75 ym-gl">
                <div> {{ form_label(form.keywords) }} </div>
                <div> {{ form_widget(form.keywords, { 'attr': {'style': 'width:93%','rows':'4'} }) }}  </div>
                <div> {{ form_errors(form.keywords) }} </div> <br>
            </div>
        {% endif %}

        {% if form.msc is defined  %}
            <div class="ym-g75 ym-gl">
                <div> {{ form_label(form.msc) }} </div>
                <div> {{ form_widget(form.msc, { 'attr': {'style': 'width:93%','rows':'1'} }) }}  </div>
                <div> {{ form_errors(form.msc) }} </div> <br>
            </div>
        {% endif %}
    </div>

    <div class="ym-grid">
        {% if form.journal is defined  %}
            <div class="ym-g75 ym-gl">
                <div> {{ form_label(form.journal) }} </div>
                <div> {{ form_widget(form.journal, { 'attr': {'style': 'width:93%'} }) }}</div>
                <div> {{ form_errors(form.journal) }} </div> <br>
            </div>
        {% endif %}

        {% if form.issn is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.issn) }} </div>
                <div> {{ form_widget(form.issn, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.issn) }} </div> <br>
            </div>
        {% endif %}
    </div>

    {% if form.publisher is defined  %}
        <div class="ym-g80 ym-gl">
            <div> {{ form_label(form.publisher) }} </div>
            <div> {{ form_widget(form.publisher, { 'attr': {'style': 'width:87%'} }) }} </div>
            <div> {{ form_errors(form.publisher) }} </div><br>
        </div>
    {% endif %}

    {% if form.address is defined  %}
        <div class="ym-g80 ym-gl">
            <div> {{ form_label(form.address) }} </div>
            <div> {{ form_widget(form.address, { 'attr': {'style': 'width:87%'} }) }} </div>
            <div> {{ form_errors(form.address) }} </div> <br>
        </div>
    {% endif %}

    <div class="ym-grid">
        {% if form.yearPub is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.yearPub) }} </div>
                <div> {{ form_widget(form.yearPub, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.yearPub) }} </div> <br>
            </div>
        {% endif %}

        {% if form.yearPreprint is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.yearPreprint) }} </div>
                <div> {{ form_widget(form.yearPreprint, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.yearPreprint) }} </div> <br>
            </div>
        {% endif %}

        {% if form.volume is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.volume) }} </div>
                <div> {{ form_widget(form.volume, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.volume) }} </div>	<br>
            </div>
        {% endif %}

        {% if form.issue is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.issue) }} </div>
                <div> {{ form_widget(form.issue, { 'attr': {'style': 'width:80%'} }) }}	</div>
                <div> {{ form_errors(form.issue) }}	</div> <br>
            </div>
        {% endif %}

        {% if form.pages is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.pages) }} </div>
                <div> {{ form_widget(form.pages, { 'attr': {'style': 'width:80%'} }) }}	</div>
                <div> {{ form_errors(form.pages) }}	</div> <br>
            </div>
        {% endif %}

        {% if form.publication is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.publication) }} </div>
                <div> {{ form_widget(form.publication, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.publication) }} </div> <br>
            </div>
        {% endif %}

        {% if form.placePub is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.placePub) }} </div>
                <div> {{ form_widget(form.placePub, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.placePub) }} </div> <br>
            </div>
        {% endif %}

        {% if form.isbn is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.isbn) }} </div>
                <div> {{ form_widget(form.isbn, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.isbn) }} </div> <br>
            </div>
        {% endif %}

        {% if form.thesisType is defined  %}
            <div class="ym-g30 ym-gl">
                <div> {{ form_label(form.thesisType) }} </div>
                <div> {{ form_widget(form.thesisType, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.thesisType) }} </div> <br>
            </div>
        {% endif %}

        {% if form.corporateAuthor is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.corporateAuthor) }} </div>
                <div> {{ form_widget(form.corporateAuthor, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.corporateAuthor) }} </div> <br>
            </div>
        {% endif %}


    </div>

    <div class="ym-grid">

        {% if form.reportNumber is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.reportNumber) }} </div>
                <div> {{ form_widget(form.reportNumber, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.reportNumber) }} </div> <br>
            </div>
        {% endif %}

        {% if form.zmath is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.zmath) }} </div>
                <div> {{ form_widget(form.zmath, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.zmath) }} </div> <br>
            </div>
        {% endif %}

        {% if form.mrNumber is defined  %}
            <div class="ym-g25 ym-gl">
                <div> {{ form_label(form.mrNumber) }} </div>
                <div> {{ form_widget(form.mrNumber, { 'attr': {'style': 'width:80%'} }) }} </div>
                <div> {{ form_errors(form.mrNumber) }} </div> <br>
            </div>
        {% endif %}
    </div>

    {% if form.medium is defined  %}
        <div class="ym-g33 ym-gl">
            <div> {{ form_label(form.medium) }} </div>
            <div> {{ form_widget(form.medium, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(form.medium) }} </div>	<br>
        </div>
    {% endif %}

    {% if form.arxiv is defined  %}
        <div class="ym-g50 ym-gl">
            <div> {{ form_label(form.arxiv) }} </div>
            <div> {{ form_widget(form.arxiv, { 'attr': {'style': 'width:90%'} }) }}</div>
            <div> {{ form_errors(form.arxiv) }} </div> <br>
        </div>
    {% endif %}

    {% if form.doi is defined  %}
        <div class="ym-g50 ym-gl">
            <div> {{ form_label(form.doi) }} </div>
            <div> {{ form_widget(form.doi, { 'attr': {'style': 'width: 90%'} }) }} </div>
            <div> {{ form_errors(form.doi) }} </div> <br>
        </div>
    {% endif %}

    {% if form.mathscinet is defined  %}
        <div class="ym-g33 ym-gl">
            <div> {{ form_label(form.mathscinet) }} </div>
            <div> {{ form_widget(form.mathscinet, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(form.mathscinet) }} </div> <br>
        </div>
    {% endif %}

    {% if form.inspires is defined  %}
        <div class="ym-g33 ym-gl">
            <div> {{ form_label(form.inspires) }} </div>
            <div> {{ form_widget(form.inspires, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(form.inspires) }} </div> <br>
        </div>
    {% endif %}

    {% if form.file is defined  %}
        <div class="ym-g75 ym-gl">
            <div> {{ form_label(form.file) }} </div>
            <div> {{ form_widget(form.file, { 'attr': {'style': 'width:80%'} }) }} </div>
            <div> {{ form_errors(form.file) }} </div> <br>
        </div>
    {% endif %}

    {% if form.url is defined  %}
        <div class="ym-g75 ym-gl">
            <div> {{ form_label(form.url) }} </div>
            <div> {{ form_widget(form.url, { 'attr': {'style': 'width: 93%'} }) }} </div>
            <div> {{ form_errors(form.url) }} </div> <br>
        </div>
    {% endif %}

    {% if form.notas is defined  %}
        <div class="ym-g75 ym-gl">
            <div> {{ form_label(form.notas) }} </div>
            <div> {{ form_widget(form.notas, { 'attr': {'style': 'width:93%','rows':'2'} }) }} 	</div>
            <div> {{ form_errors(form.notas) }}	</div> <br>
        </div>
    {% endif %}

    {% if form.revision is defined  %}
        <div class="ym-g33 ym-gl">
            {% if is_granted("ROLE_ADMIN") %}
                <div>Revisado</div>
                <div> {{ form_widget(form.revision)}} </div>
            {% else %}
                <div>Revisado (solo como administrador)</div>
                <div> {{ form_widget(form.revision, { 'attr': { 'disabled': 'disabled' } })}} </div>
            {% endif %}
            <div> {{ form_errors(form.revision) }} </div> <br>
        </div>
    {% endif %}

    {{ form_rest(form) }}

    <div class="ym-g80 ym-gl">
        <button type="submit" class="ym-button ym-add">Create {{ type }}</button>
    </div>
    </form>

    </div>
    </div>

{% endblock %}

{% block menuL %}
    <ul class="record_actions">
        <li><a href="{{ path('index') }}"> Regresar </a></li>
    </ul>
{% endblock %}

