{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %} {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }} {% endblock %}

{% set option = 'Detalles de la publicación' %}

{% block col3 %}
<div class="ym-gbox-right">

<!--<h1>{{entity.type|title}}</h1> <br>-->

    {% if entity.title != null %}
      <div style="padding-top: 5px;">
        <h1 style="line-height:110%;">{{ entity.title }}</h1>
      </div>
    {% endif %}

    {% if entity.author != null %}
      <div style="padding:10px 0;">
        {% for key in entity.author|explode %}<a href="{{key}}"> {{key|trim}}</a>, {% endfor %}
      </div>
    {% endif %}

    {% if entity.abst != null %}
      <div style="padding:5px 5px 10px 0">
        <b> Abstract: </b><br /><br /> {{ entity.abst }}
      </div>
    {% endif %}

    {% if entity.keywords != null %}
      <div style="padding:5px 0;">
        <b> Keywords: </b> {{ entity.keywords }}
      </div>
    {% endif %}

<div style="background: none no-repeat scroll center center #9B9B9B; height: 1px; margin: 3px 0; "></div>

    {% if entity.journal != null %}
      <div style="padding:10px 0 5px 0; font-weight: bold;">
        {{ entity.journal }}
      </div>
    {% endif %}
      <div>
        {% if entity.volume != null %}Volume {{ entity.volume }}, {% endif %}
        {% if entity.issue != null %}Issue {{ entity.issue }}, {% endif %}
        {% if entity.yearPreprint != null %}Year Preprint: {{ entity.yearPreprint }}, {% endif %}
        {% if entity.yearPub != null %}Year: {{ entity.yearPub }}, {% endif %}
        {% if entity.pages != null %}Pages: {{ entity.pages }}, {% endif %}
      </div>
    <br/>

<div style="background: none no-repeat scroll center center #9B9B9B; height: 1px; margin: 3px 0; "></div>

<div class="ym-grid">

    {% if entity.type != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Doc Type: </b> {{ entity.type | title }}
      </div>
    {% endif %}

    {% if entity.thesis != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Thesis: </b> {{ entity.thesis }}
      </div>
    {% endif %}

    {% if entity.publication != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
         <b> Publication: </b> {{ entity.publication }}
      </div>
    {% endif %}

    {% if entity.corporateAuthor != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Corporate Author: </b> {{ entity.corporateAuthor }}
      </div>
    {% endif %}

    {% if entity.address != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Address: </b> {{ entity.address }}
      </div>
    {% endif %}

    {% if entity.publisher != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Publisher: </b> {{ entity.publisher }}
      </div>
    {% endif %}

    {% if entity.placePub != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Place Pub: </b> {{ entity.placePub }}
      </div>
    {% endif %}

    {% if entity.editor != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Editor: </b> {{ entity.editor }}
      </div>
    {% endif %}

    {% if entity.isbn != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> ISBN: </b> {{ entity.isbn }}
      </div>
    {% endif %}

    {% if entity.issn != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> ISSN: </b>  {{ entity.issn }}
      </div>
    {% endif %}

    {% if entity.medium != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Medium: </b> {{ entity.medium }}
      </div>
    {% endif %}

    {% if entity.area != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Area: </b> {{ entity.area }}
      </div>
    {% endif %}

    {% if entity.conference != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Conference: </b> {{ entity.conference }}
      </div>
    {% endif %}

    {% if entity.revision != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> Revision: </b> {{ entity.revision }}
      </div>
    {% endif %}

    {% if entity.file != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <b> File: </b> {{ entity.file }}
      </div>
    {% endif %}

    {% if entity.url != null %}
      <div class="ym-g80 ym-gl" style="padding:5px 0;">
        <b>URL: </b><a href="{{ entity.url }}">{{ entity.url }}</a>
      </div>
    {% endif %}

    {% if entity.doi != null %}
      <div class="ym-g80 ym-gl" style="padding:5px 0;">
        <b>DOI: </b> <a href="{{ 'http://dx.doi.org/' ~ entity.doi }}"> {{ entity.doi }}</a>
      </div>
    {% endif %}

    {% if entity.arxiv != null %}
      <div class="ym-g80 ym-gl" style="padding:5px 0;">
        <b> Arxiv: </b> {{ entity.arxiv }}
      </div>
    {% endif %}

    {% if entity.mathscinet != null %}
      <div class="ym-g80 ym-gl" style="padding:5px 0;">
        <b> Mathscinet: </b> {{ entity.mathscinet }}
      </div>
    {% endif %}

    {% if entity.zmath != null %}
      <div class="ym-g80 ym-gl" style="padding:5px 0;">
        <b> Zmath: </b> {{ entity.zmath }}
      </div>
    {% endif %}

    {% if entity.inspires != null %}
      <div class="ym-g80 ym-gl" style="padding:5px 0;">
        <b> Inspires: </b> {{ entity.inspires }} </b>
      </div>
    {% endif %}

</div>
 <!-- grid -->

<div style="background: none no-repeat scroll center center #9B9B9B; height: 1px; margin: 3px 0; "></div>

<div style="padding-top:10px;">

    {% if entity.id != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
        <img src="{{ asset('bundles/ccmsrb/images/bullet_green.png') }}" alt="info" style="padding:0 5px 0 0;" />
        <b>Ref Id: </b> {{ entity.id }}
      </div>
    {% endif %}
    
    {% if entity.created != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
            <img src="{{ asset('bundles/ccmsrb/images/createdate.png') }}" alt="Created" style="padding:0 5px 0 0;" />
            <b>Created: </b> {{ entity.created|date('Y-m-d H:i:s') }}
      </div>
    {% endif %}

    {% if entity.modified != null %}
      <div class="ym-g33 ym-gl" style="padding:5px 0;">
            <img src="{{ asset('bundles/ccmsrb/images/modifydate.png') }}" alt="Modified" style="padding:0 5px 0 0;" />
            <b>Modified: </b>{{ entity.modified|date('Y-m-d H:i:s') }}
      </div>
    {% endif %}

    {% if entity.revision != null %}
      {% if entity.revision == 1 %}
        <div class="ym-g80 ym-gl" style="padding:5px 0;">
            <img src="{{ asset('bundles/ccmsrb/images/tick.png') }}" alt="Warn" style="padding:0 5px 0 0;" />
            <b> Referencia revisada por: </b> {{ entity.user }}
        </div>
      {% endif %}
    {% else %}
        <div class="ym-g80 ym-gl" style="padding:5px 0;">
            <img src="{{ asset('bundles/ccmsrb/images/error.png') }}" alt="Warn" style="padding:0 5px 0 0;" />
            <b> Referencia no revisada</b>
        </div>
    {% endif %}

    {% if entity.notas != null %}
      <div class="ym-g80 ym-gl" style="padding:5px 0;">
        <b>Notas: </b> {{ entity.notas }}
      </div>
    {% endif %}

</div>

<div class="ym-grid">
  <div class="ym-g66 ym-gr">
    <div class="box info">

{% if authors|length == 0  %}	

    <div style="padding:5px 0;">
   <img src="{{ asset('bundles/ccmsrb/images/error.png') }}" alt="Warn" style="padding:0 5px 0 0;" />
   <b>Esta referencia no está asociada con algún autor institucional</b>
   </div>

{% else %}

   <b> Autores Institucionales Asociados a la Referencia:</b>

    <ul id="authors">
        {% for item in authors %}
            <li><a href="{{ path('author_show', { 'id': item.id }) }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>

{% endif %}

{% if (is_granted('ROLE_ADMIN', entity)) or (is_granted('EDIT', entity))  %}
    <br>
    <img src="{{ asset('bundles/ccmsrb/images/add.png') }}" alt="Add" style="padding:0 5px 0 0;"/>
    <a href="{{ path('article_authors', {'id': entity.id }) }}">Asociar autor(es) a éste artículo...</a>

{% endif %}

      </div>
      <!-- box info -->

{% if (is_granted('ROLE_ADMIN', entity)) or (is_granted('EDIT', entity))  %}
     <div class="ym-g80 ym-gl" style="padding:20px 5px 20px 0;">
            <form action="{{ path('referencia_edit', { 'id': entity.id }) }}" method="post">
                <button type="submit" class="ym-button ym-edit">Editar</button>
            </form>
    </div>
{% endif %}

    </div>
    <!-- grid 66% -->
  </div>
  <!-- grid -->

</div>
<!-- block col3 -->

{% endblock %}

{% block menuL %}

{% if (is_granted('ROLE_ADMIN', entity)) or (is_granted('EDIT', entity))  %}
   <ul class="record_actions">
      <li> <a href="{{ path('referencia_edit', { 'id': entity.id }) }}"> Editar </a> </li>
{% endif %}
    <li> <a href="{{ path('refs') }}"> Regresar </a> </li>

{% endblock %}

